<html>
<head>
  <title>KATANA BPMN</title>

  <link rel="stylesheet" href="css/diagram-js.css" />
  <link rel="stylesheet" href="vendor/bpmn-font/css/bpmn-embedded.css" />
  <link rel="stylesheet" href="css/app.css" />
  <link rel="stylesheet" href="css/custom.css" />
</head>
<body>
<div class="bio-header">
	
		<div class="menu-bar">

			<button class="icon-new" title="create new BPMN diagram"
				ng-click="editor.newDiagram()"></button>

			<button class="icon-open" title="open a BPMN diagram"
				ng-click="editor.openDiagram()"></button>

			<button class="icon-save-normal" title="save BPMN diagram"
				ng-class="{ disabled: !editor.isUnsaved() }"
				ng-click="editor.save()"></button>

			<button class="icon-save-as" title="save BPMN diagram as..."
				ng-class="{ disabled: !editor.isOpen() }"
				ng-click="editor.save(true)"></button>

			<span class="placeholder"></span>

			<button class="icon-undo" title="undo"
				ng-class="{ disabled: !editor.canUndo() }" ng-click="editor.undo()">
			</button>

			<button class="icon-redo" title="redo"
				ng-class="{ disabled: !editor.canRedo() }" ng-click="editor.redo()">
			</button>

			<span class="placeholder"></span> 
			<span class="katana-logo"
				title="Katana BPMN"></span>


		</div>
	</div>

  <div class="content" id="js-drop-zone" style="height:95%">

    <div class="message intro">
      <div class="note">
        Drop BPMN diagram from your desktop or <a id="js-create-diagram" href>create a new diagram</a> to get started.
      </div>
    </div>

    <div class="message error">
      <div class="note">
        <p>Ooops, we could not display the BPMN 2.0 diagram.</p>

        <div class="details">
          <span>cause of the problem</span>
          <pre></pre>
        </div>
      </div>
    </div>
        

    <div class="canvas" id="js-canvas"></div>
    <div id="js-properties-panel"></div>
  </div>

  <ul class="buttons">
    <li>
      download
    </li>
    <li>
      <a id="js-download-diagram" href title="download BPMN diagram">
        BPMN diagram
      </a>
    </li>
    <li>
      <a id="js-download-svg" href title="download as SVG image">
        SVG image
      </a>
    </li>
  </ul>

  <script src="index.js"></script>
</html>
